@media (min-width: 320px) and (max-width: 480px) {
    .column {
        /* Example of adjusting the width for the icons container */
        width: 100%;
    }

    .column:hover .card .txt {
        margin-left: 0rem;
    }

    .card .txt {
        margin-left: 0px;
    }

    .icons {
        margin-left: -13px;
        /* border: 2px solid rgb(147, 144, 144); */
        border: none !important;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;
    }

    .icons img {
        width: 0px;
        height: auto;
        margin-right: 10px;
        margin: 5px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1024px) {

    .icons {
        padding: 0px;
        font-size: 12px;
        margin-left: -28px;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .icons {
        padding: 0px;
        font-size: 12px;
        margin-left: -28px;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;
    }
}

@media (min-width: 1201px) and (max-width:1445) {
    .icons {
        border: none;
    }
}